:root {
    --color-white: #fff;
    --color-black: #000;
    --color-opacity: #1c2e3d;
    --color-orange: #e8594e;
    --color-blue: #73afba;
    --color-hover-orange: #e31d0e;
    --color-hover-blue: #4196a6;
    --newsletter-gap: 133px;
}